<div layout="row" class="apikeys-page">
   <div flex="50">
      <h2 translate="PANEL_DECLARE_NEW_OAUTH2_APP"></h2>

      <h4 translate="PANEL_REGISTER_NEW_APP"></h4>

      <form ng-submit="newApp()">
         <md-input-container>
            <label translate="PANEL_APPLICATION_NAME"></label>
            <input type="text" ng-model="appName">
         </md-input-container>

         <md-input-container>
            <label translate="PANEL_HOMEPAGE_URL"></label>
            <input type="text" ng-model="homepage">
         </md-input-container>

         <md-input-container>
            <label translate="PANEL_APP_DESCRIPTION"></label>
            <textarea name="" id="" rows="2" ng-model="description"></textarea>
         </md-input-container>

         <md-button class="md-raised md-primary" type="submit" translate="PANEL_APP_CREATE"></md-button>
      </form>
   </div>
   <div flex="50">
      <h2 translate="PANEL_MY_APPLICATIONS"></h2>

      <md-list>
         <md-list-item ng-repeat="app in apps">
               <p>{{app.name}}</p>
               <md-button aria-label="Settings" ng-click="openAppEditDialog($event, app.id)"><i class="fa fa-cog"></i></md-button>
               <md-button aria-label="API Key" ng-click="openApiKeysDialog($event, app.id)"><i class="fa fa-key"></i></md-button>
         </md-list-item>
      </md-list>
   </div>
</div>