<div layout="column" class="authors">
  <md-list class="plugin-list">
     <md-subheader class='topic margin'>
        <a ui-sref="authors">{{'AUTHORS'|translate}}</a>
     </md-subheader>
     <md-list-item ng-repeat="author in authors">
        <md-button ui-sref="author({id: author.id})">
           <h4>{{author.name}}</h4>
           <md-tooltip md-direction="right">
              Contributed to {{author.plugin_count}} plugins
           </md-tooltip>
        </md-button>
     </md-list-item>
  </md-list>
</div>