<div layout="column" class="author-page">
   <table>
      <tr>
         <td class="key">
            <h2>{{author.name}}</h2>
         </td>
         <td ng-show="author.gravatar" class="value">
            <img src="//www.gravatar.com/avatar/{{author.gravatar}}" alt="{{author.name}}'s gravatar">
         </td>
      </tr>
      <tr>
         <td class="key" translate="AUTHOR_NAME"></td>
         <td class="value">{{author.name}}</td>
      </tr>
      <tr ng-show="author.username">
         <td class="key" translate="AUTHOR_GLPI_PLUGINS_USERNAME"></td>
         <td class="value">{{author.username}}</td>
      </tr>
      <tr>
         <td class="key" translate="AUTHOR_CONTRIBUTED_TO"></td>
         <td class="value">
            <a ui-sref="author_plugins({id: author.id})" translate="AUTHOR_PLUGIN_COUNT" translate-value-plugincount="{{author.plugin_count}}"></a>
         </td>
      </tr>
   </table>
</div>