
<div layout="column" class="authors-list">
   <md-list class="compact-list">
      <md-subheader class='topic margin' translate="AUTHORS"></md-subheader>
      <div ng-show="loading" class="loading">
         <p><i class="fa fa-refresh"></i><span>{{'LOADING'|translate}}...</span></p>
      </div>
      <md-list-item ng-hide="loading" ng-repeat="author in authors.currentPage" class="result">
         <md-button ui-sref="author({id: author.id})">
            <h4>{{author.name}}</h4>
         </md-button>
         <span class="info" translate="CONTRIBUTED_TO" translate-value-plugincount="{{author.plugin_count}}"></span class="info">
      </md-list-item>
   </md-list>
   <pagination ng-hide="loading" collection="authors"></pagination>
</div>