<md-dialog class="dialog claim_authorship">
   <md-toolbar>
      <div class="md-toolbar-tools">
         <h2>Claim an authorship</h2>
         <span flex></span>
         <md-button class="md-icon-button" ng-click="close()">
           <i class="fa fa-times"></i>
         </md-button>
      </div>
   </md-toolbar>
   <div>
      <h3>You can claim that you are a specific author once a plugin has been submitted via XML.</h3>
      <p class="explanations">If we accept the request (ie: make sure that you are the correct author), your user will be associated with all your plugins and you will be granted  with specific admin rights</p>
      <form ng-submit="claim()">
         <md-input-container>
            <label>Author Name (as exactly mentionned in the concerned plugins XML files)</label>
            <input type="text" ng-model="author">
         </md-input-container>
         <md-button class="md-raised md-primary" type="submit">Claim</md-button>
      </form>
   </div>
</md-dialog>