<md-dialog class="dialog claim_authorship">
   <md-toolbar>
      <div class="md-toolbar-tools">
         <h2 translate="PANEL_CLAIM_AN_AUTHORSHIP"></h2>
         <span flex></span>
         <md-button class="md-icon-button" ng-click="close()">
           <i class="fa fa-times"></i>
         </md-button>
      </div>
   </md-toolbar>
   <div>
      <h3 translate="PANEL_CLAIM_AN_AUTORSHIP_FEATURE_DESC"></h3>
      <p class="explanations" translate="PANEL_CLAIM_AN_AUTHORSHIP_FEATURE_DESC2"></p>
      <form ng-submit="claim()">
         <md-input-container>
            <label translate="PANEL_CLAIM_AN_AUTHORSHIP_AUTHOR_NAME"></label>
            <input type="text" ng-model="author">
         </md-input-container>
         <div vc-recaptcha theme="light" key="recaptcha_key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
         <md-button class="md-raised md-primary" type="submit" translate="PANEL_CLAIM_AN_AUTHORSHIP_CLAIM"></md-button>
      </form>
   </div>
</md-dialog>