<md-dialog class="dialog" id="confirm-deletion">
   <md-toolbar>
      <div class="md-toolbar-tools">
         <h2 translate="PANEL_DELETE_ACCOUNT"></h2>
         <span flex></span>
         <md-button class="md-icon-button" ng-click="close()">
           <i class="fa fa-times"></i>
         </md-button>
      </div>
   </md-toolbar>

   <div class="enter-password">
      <p translate="PANEL_DELETE_ACCOUNT_CONFIRM"></p>
      <form ng-submit="confirmDeletion()">
         <md-input-container>
            <label translate="PANEL_DELETE_ACCOUNT_PASSWORD"></label>
            <input type="password" ng-model="password_confirmation">
         </md-input-container>
<!--          <div vc-recaptcha theme="light" key="recaptcha_key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div> -->
         <md-button class="md-raised md-primary" type="submit" translate="PANEL_DELETE_ACCOUNT_DELETE"></md-button>
      </form>
   </div>
</md-dialog>