<div layout="row" layout-wrap>
   <md-content flex="33" flex-md="50" flex-sm="100">
      <md-list class="plugin-list">
         <md-subheader class='topic'>
            Trending
            <i class="fa fa-fire red"></i>
         </md-subheader>
         <span class='legend'>A recent, relative, increase in installs</span>
         <md-list-item ng-repeat="plugin in trending">
            <md-button ui-sref="plugin({key: plugin.key})">
               <h4>{{plugin.name}}</h4>
               <md-tooltip md-direction="right">
                  Downloaded {{plugin.downloaded}} times
               </md-tooltip>
            </md-button>
         </md-list-item>
      </md-list>
   </md-content>

   <md-content flex="33" flex-md="50" flex-sm="100">
      <md-list class="plugin-list">
         <md-subheader class='topic'>
            New
            <i class="fa fa-plus darkblue"></i>
         </md-subheader>
         <span class='legend'>Just added to catalog</span>
         <md-list-item ng-repeat="plugin in new">
            <md-button ui-sref="plugin({key: plugin.key})">
               <h4>{{plugin.name}}</h4>
               <md-tooltip md-direction="right">
                  Added on {{plugin.date_added}}
               </md-tooltip>
            </md-button>
         </md-list-item>
      </md-list>
   </md-content>

   <md-content flex="33" flex-md="50" flex-sm="100">
      <md-list class="plugin-list">
         <md-subheader class='topic'>
            Popular
            <i class="fa fa-trophy teal"></i>
         </md-subheader>
         <span class='legend'>With the most unique installs</span>
         <md-list-item ng-repeat="plugin in popular">
            <md-button ui-sref="plugin({key: plugin.key})">
               <h4>{{plugin.name}}</h4>
               <md-tooltip md-direction="right">
                  Downloaded {{plugin.downloaded}} times
               </md-tooltip>
            </md-button>
         </md-list-item>
      </md-list>
   </md-content>

   <md-content flex="33" flex-md="50" flex-sm="100">
      <md-list class="plugin-list">
         <md-subheader class='topic'>
            Updated
            <i class="fa fa-refresh green"></i>
         </md-subheader>
         <span class='legend'>When the plugin was last updated</span>
         <md-list-item ng-repeat="plugin in updated">
            <md-button ui-sref="plugin({key: plugin.key})">
               <h4>{{plugin.name}}</h4>
               <md-tooltip md-direction="right">Updated 2 days ago</md-tooltip>
            </md-button>
         </md-list-item>
      </md-list>
   </md-content>

   <md-content flex="33" flex-md="50" flex-sm="100">
      <md-list class="plugin-list">
         <md-subheader class='topic'>
            Tags
            <i class="fa fa-tags"></i>
         </md-subheader>
         <span class='legend'>With the most plugins</span>
         <md-list-item ng-repeat="tag in tags">
            <md-button ui-sref="tag({key: tag.key})">
               <h4>{{tag.tag}}</h4>
               <md-tooltip md-direction="right">Tagged on {{tag.plugin_count}} plugins</md-tooltip>
            </md-button>
         </md-list-item>
      </md-list>
   </md-content>

   <md-content flex="33" flex-md="50" flex-sm="100">
      <md-list class="plugin-list">
         <md-subheader class='topic'>
            Authors
            <i class="fa fa-user yellow"></i>
         </md-subheader>
         <span class='legend'>With the most plugins</span>
         <md-list-item ng-repeat="author in authors">
            <md-button>
               <h4>{{author.name}}</h4>
               <md-tooltip md-direction="right">
                  Contributed to {{author.plugin_count}} plugins
               </md-tooltip>
            </md-button>
         </md-list-item>
      </md-list>
   </md-content>
</div>