<div layout="row">
	<md-content flex>
		<md-list class="plugin-list">
			<md-subheader>Trending</md-subheader>
			<md-list-item ng-repeat="plugin in trending">
				<div class="md-list-item-text">
					<md-button class="md-primary md-hue-1">
						<h3>{{plugin.name}}</h3>
						<h4>Downloaded {{plugin.downloaded}} times</h4>
					</md-button>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
	<md-content flex>
		<md-list class="plugin-list">
			<md-subheader>New</md-subheader>
		</md-list>
	</md-content>
	<md-content flex>
		<md-list class="plugin-list">
			<md-subheader>Popular</md-subheader>
			<md-list-item ng-repeat="plugin in popular">
				<div class="md-list-item-text">
					<md-button class="md-primary md-hue-1">
						<h3>{{plugin.name}}</h3>
						<h4>Downloaded {{plugin.downloaded}} times</h4>
					</md-button>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
</div>
<div layout="row">
	<md-content flex>
		<md-list class="plugin-list">
			<md-subheader>Updated</md-subheader>
			<md-list-item ng-repeat="plugin in updated">
				<div class="md-list-item-text">
					<md-button class="md-primary md-hue-1">
						<h3>{{plugin.name}}</h3>
						<h4>Updated 2 days ago</h4>
					</md-button>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
	<md-content flex>
		<md-list class="plugin-list">
			<md-subheader>Tags</md-subheader>
		</md-list>
	</md-content>
	<md-content flex>
		<md-list class="plugin-list">
			<md-subheader>Authors</md-subheader>
			<md-list-item ng-repeat="author in authors">
				<div class="md-list-item-text">
					<md-button class="md-primary md-hue-1">
						<h3>{{author.author}}</h3>
						<h4>Contributed to {{author.plugin_count}} plugins</h4>
					</md-button>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
</div>