<md-dialog class="dialog i-forgot-my-password">
   <md-toolbar>
      <div class="md-toolbar-tools">
         <h2>{{'FORGOTPASSWORD_DIALOG_TITLE'|translate}}</h2>
         <span flex></span>
         <md-button class="md-icon-button" ng-click="close()">
           <i class="fa fa-times"></i>
         </md-button>
      </div>
   </md-toolbar>

   <div class="dialog-content">
       <p>{{'FORGOTPASSWORD_DIALOG_FORMINTRO_1'|translate}}</p>
       <p>{{'FORGOTPASSWORD_DIALOG_FORMINTRO_2'|translate}}</p>
       <p>{{'FORGOTPASSWORD_DIALOG_FORMINTRO_3'|translate}}</p>

       <form ng-submit="sendPasswordResetRequest()">
           <md-input-container>
               <label>{{'EMAIL'|translate}}</label>
                <input type="email" ng-model="userWhoLostPassword.email">
           </md-input-container>

           <div vc-recaptcha theme="light" key="key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>

           <md-button class="md-raised md-primary" type="submit" translate="SEND_MAIL_PASSWORD_RESET_LINK"></md-button>
       </form>       
   </div>
</md-dialog>