<md-dialog class="dialog">
   <md-toolbar>
      <div class="md-toolbar-tools">
         <h2 translate="LINKACCOUNT_AN_EXTERNAL_SOCIAL_ACCOUNT"></h2>
         <span flex></span>
         <md-button class="md-icon-button" ng-click="close()">
           <i class="fa fa-times"></i>
         </md-button>
      </div>
   </md-toolbar>
   <div class="link-new-account">
      <h2 translate="LINKACCOUNT_LINK_A_NEW_ACCOUNT"></h2>
      <md-button ng-click="connect('github')"><i class="fa fa-github social-icon"></i></md-button>
<!--       <md-button ng-click="connect('google')"><i class="fa fa-google social-icon"></i></md-button>
      <md-button ng-click="connect('facebook')"><i class="fa fa-facebook social-icon"></i></md-button>
      <md-button ng-click="connect('twitter')"><i class="fa fa-twitter social-icon"></i></md-button> -->
   </div>
   <div class="current-accounts">
      <h2 translate="LINKACCOUNT_EXTERNAL_ACCOUNTS"></h2>
      <md-list>
         <md-list-item class="list-header">
            <p translate="LINKACCOUNT_SERVICE"></p>
            <p translate="LINKACCOUNT_USERID"></p>
            <p translate="LINKACCOUNT_UNLINK"></p>
         </md-list-item>

         <md-list-item ng-repeat="account in external_accounts">
            <p>{{account.service}}</p>
            <p>{{account.external_user_id}}</p>
            <md-button class="md-icon-button" ng-click="unlinkAccount($ev, account)">
               <i class="fa fa-times"></i>
            </md-button>
         </md-list-item>
      </md-list>
   </div>
</md-dialog>