<md-dialog>
   <md-toolbar>
      <h2>Truc</h2><span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        X
      </md-button>
   </md-toolbar>
   <div>
      <md-button ng-click="connect('github')"><i class="fa fa-github social-icon"></i></md-button>
      <md-button ng-click="connect('google')"><i class="fa fa-google social-icon"></i></md-button>
      <md-button ng-click="connect('facebook')"><i class="fa fa-facebook social-icon"></i></md-button>
      <md-button ng-click="connect('twitter')"><i class="fa fa-twitter social-icon"></i></md-button>
   </div>
</md-dialog>