<div layout="row" id="notifications">
   <div flex="100">
      <h2 translate="NOTIFICATIONS_PLUGINS_WATCHED"></h2>

      <h3 ng-show="plugins_watched.length == 0" translate="NOTIFICATIONS_YOURE_NOT_WATCHING_ANY_PLUGINS"></h3>
      <div ng-show="plugins_watched.length != 0">
         <h3 translate="NOTIFICATIONS_YOULL_RECEIVE_NOTIFICATIONS_ON_UPDATE"></h3>
         <md-list class="notifications-list">
            <md-list-item ng-repeat="plugin in plugins_watched">
               <p>{{plugin}}</p> <md-button class="md-raised" ng-click="unwatch(plugin)"><h4 translate="NOTIFICATIONS_UNWATCH"></h4></md-button>
            </md-list-item>
         </md-list>
      </div>

      <p translate="NOTIFICATIONS_DISCOVER_AND_SUBSCRIBE"></p>
      <p translate="NOTIFICATIONS_PLEASE_CHECK_THOSE_TRENDING_PLUGINS"></p>

      <md-list>
         <md-list-item ng-repeat="plugin in trending">
            <a ui-sref="plugin({key: plugin.key})">{{plugin.key}}</a>
         </md-list-item>
      </md-list>
   </div>
 </div>
