<div layout="row" class="panel">
   <div flex="33">
      <h2>My informations</h2>

      <form id="profile-form" ng-submit="update()">
         <md-input-container>
            <label>Username</label>
            <input type="text" ng-model="user.username" disabled>
            <div ng-messages="form_errors.username">
               <div ng-message="tooshort">Your username needs to be at least 4 characters</div>
               <div ng-message="toolong">Your username cannot exceed 28 characters</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Real Name</label>
            <input type="text" ng-model="user.realname">
            <div ng-messages="form_errors.realname">
               <div ng-message="tooshort">Your realname needs to be at least 4 characters</div>
               <div ng-message="toolong">Your realname cannot exceed 28 characters</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Email</label>
            <input type="text" ng-model="user.email" disabled>
            <div ng-messages="form_errors.email">
               <div ng-message="required">{{'FIELD_REQUIRED'|translate}}</div>
               <div ng-message="invalid">This is an invalid email</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Website</label>
            <input type="text" ng-model="user.website">
            <div ng-messages="form_errors.website">
               <div ng-message="invalid">This is an invalid website</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="password">
            <div ng-messages="form_errors.password">
               <div ng-message="different">Password and Confirmation aren't the same</div>
               <div ng-message="tooshort">Password must be at least 6 characters</div>
               <div ng-message="toolong">Password must not exceed 26 characters</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Confirm password</label>
            <input type="password" ng-model="password_repeat">
         </md-input-container>
         <md-button class="md-raised md-primary" type="submit">Update</md-button>
      </form>
   </div>
   <div flex="33">
      <h2>Actions</h2>

      <md-list>
         <md-list-item ng-show="user.author_id === null">
            <md-button class="md-raised" ng-click="openClaimAuthorshipDialog($event)">
               <h4>Claim an authorship</h4>
            </md-button>
         </md-list-item>
         <md-list-item>
            <md-button ng-click="openLinkAccountDialog($event)" class="md-raised">
               <h4>Manage my external social accounts</h4>
            </md-button>
         </md-list-item>
         <md-list-item>
            <md-button class="md-raised" ui-sref="notifications">
               <h4>Notifications settings</h4>
            </md-button>
         </md-list-item>
         <md-list-item>
            <md-button class="md-raised" ui-sref="apikeys">
               <h4>Manage API keys (and according Apps)</h4>
            </md-button>
         </md-list-item>
         <md-list-item>
            <md-button class="md-raised" ng-click="openDeleteAccountDialog($event)">
               <h4>Please, delete my account</h4>
            </md-button>
         </md-list-item>
      </md-list>
   </div>
   <div flex="33" class="panel-plugins">
      <h2>My plugins</h2>

      <md-list>
         <md-list-item ng-repeat="plugin in plugins" layout="column">
            <h4>{{plugin.name}}</h4>
            <p ng-show="plugin.active == 0">(Awaiting Confirmation)</p>
            <p ng-show="plugin.xml_state == 'bad_xml_url'">(Unreachable XML File Url)</p>
            <p ng-show="plugin.xml_state == 'xml_error'">(Invalid XML)</p>
            <div class="buttons">
               <md-button ng-show="plugin.pivot.master" ui-sref="pluginpanel({key: plugin.key, managePermissions: true})">
                  <i class="fa fa-user"></i>
                  <md-tooltip>
                     Manage permissions
                  </md-tooltip>
               </md-button>
               <md-button ng-show="plugin.pivot.master || plugin.pivot.allowed_refresh_xml" ui-sref="pluginpanel({key: plugin.key, refreshXML: true})">
                  <i class="fa fa-file-text"></i>
                  <md-tooltip>
                     Reload XML
                  </md-tooltip>
               </md-button>
               <md-button ng-show="plugin.pivot.master || plugin.pivot.allowed_refresh_xml || plugin.pivot.allowed_change_xml_url" ui-sref="pluginpanel({key: plugin.key})">
                  <i class="fa fa-cog"></i>
                  <md-tooltip>
                     Plugin Panel
                  </md-tooltip>
               </md-button>
            </div>
         </md-list-item>
      </md-list>
   </div>
</div>