<div layout="row">
   <div flex="33">
      <h2>My informations</h2>

      <form>
         <md-input-container>
            <label>Last Name</label>
            <input type="text">
         </md-input-container>
         <md-input-container>
            <label>First Name</label>
            <input type="text">
         </md-input-container>
         <md-input-container>
            <label>Real Name</label>
            <input type="text">
         </md-input-container>
         <md-input-container>
            <label>Email</label>
            <input type="text">
         </md-input-container>
         <md-input-container>
            <label>Website</label>
            <input type="text">
         </md-input-container>
         <md-input-container>
            <label>Password</label>
            <input type="text">
         </md-input-container>
         <md-input-container>
            <label>Confirm password</label>
            <input type="text">
         </md-input-container>
      </form>
         <md-button class="md-raised md-primary">Update</md-button>
   </div>
   <div flex="33">
      <h2>Actions</h2>

      <md-list>
         <md-list-item>
            <md-button>
               <h4>Link my account to omniauth providers</h4>
            </md-button>
         </md-list-item>
         <md-list-item>
            <md-button>
               <h4>Manage notifications</h4>
            </md-button>
         </md-list-item>
         <md-list-item>
            <md-button>
               <h4>Use Api (Register an application)</h4>
            </md-button>
         </md-list-item>
         <md-list-item>
            <md-button>
               <h4>Please, delete my account</h4>
            </md-button>
         </md-list-item>
      </md-list>
   </div>
   <div flex="33">
      <h2>My plugins</h2>

      <md-list>
         <md-list-item>
            <md-button>
               <h4>That plugin</h4>
            </md-button>
         </md-list-item>

         <md-list-item>
            <md-button>
               <h4>And this one</h4>
            </md-button>
         </md-list-item>

         <md-list-item>
            <md-button>
               <h4>Plus that one</h4>
            </md-button>
         </md-list-item>
      </md-list>
   </div>
</div>