<div layout="row">
   <div flex="33">
      <h2>My informations</h2>

      <form id="profile-form" ng-submit="update()">
         <md-input-container>
            <label>Username</label>
            <input type="text" ng-model="user.username" disabled>
            <div ng-messages="form_errors.username">
               <div ng-message="tooshort">Your username needs to be at least 4 characters</div>
               <div ng-message="toolong">Your username cannot exceed 28 characters</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Real Name</label>
            <input type="text" ng-model="user.realname">
            <div ng-messages="form_errors.realname">
               <div ng-message="tooshort">Your realname needs to be at least 4 characters</div>
               <div ng-message="toolong">Your realname cannot exceed 28 characters</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Email</label>
            <input type="text" ng-model="user.email" disabled>
            <div ng-messages="form_errors.email">
               <div ng-message="required">{{'FIELD_REQUIRED'|translate}}</div>
               <div ng-message="invalid">This is an invalid email</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Website</label>
            <input type="text" ng-model="user.website">
            <div ng-messages="form_errors.website">
               <div ng-message="invalid">This is an invalid website</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="password">
            <div ng-messages="form_errors.password">
               <div ng-message="different">Password and Confirmation aren't the same</div>
               <div ng-message="tooshort">Password must be at least 6 characters</div>
               <div ng-message="toolong">Password must not exceed 26 characters</div>
            </div>
         </md-input-container>
         <md-input-container>
            <label>Confirm password</label>
            <input type="password" ng-model="password_repeat">
         </md-input-container>
         <md-button class="md-raised md-primary" type="submit">Update</md-button>
      </form>
   </div>
   <div flex="33">
      <h2>Actions</h2>

      <md-list>
         <md-list-item ng-show="user.author_id === null">
            <md-button class="md-raised" ng-click="openClaimAuthorshipDialog($event)">
               <h4>Claim an authorship</h4>
            </md-button>
         </md-list-item>
         <md-list-item>
            <md-button ng-click="openLinkAccountDialog($event)" class="md-raised">
               <h4>Manage my external social accounts</h4>
            </md-button>
         </md-list-item>
         <md-list-item>
            <md-button class="md-raised" ui-sref="notifications">
               <h4>Notifications settings</h4>
            </md-button>
         </md-list-item>
         <md-list-item>
            <md-button class="md-raised" ui-sref="apikeys">
               <h4>Manage API keys (and according Apps)</h4>
            </md-button>
         </md-list-item>
         <md-list-item>
            <md-button class="md-raised" ng-click="openDeleteAccountDialog($event)">
               <h4>Please, delete my account</h4>
            </md-button>
         </md-list-item>
      </md-list>
   </div>
   <div flex="33">
      <h2>My plugins</h2>

      <md-list>
         <md-list-item ng-repeat="plugin in plugins">
            <md-button ui-sref="pluginpanel({key: plugin.key})">
               <h4>{{plugin.name}}</h4>
            </md-button>
         </md-list-item>
      </md-list>
   </div>
</div>