<div layout="column" class="pluginpanel">
   <div class="pluginpanel-header">
      <h2 class="plugin-name">{{plugin.card.name}}</h2>
      <h2 class="panel-title" translate="PLUGIN_PANEL"></h2>
   </div>

   <form class="plugin-settings" ng-submit="updateSettings()">
      <div class="summary">
         <h3 translate="PLUGIN_PANEL_SUMMARY"></h3>
         <md-content>
            <ul>
               <li class="xml_state">
                  <label translate="PLUGIN_PANEL_XML_STATE"></label>
                  <span ng-class="(plugin.card.xml_state != 'passing')?'error':''">{{plugin.card.xml_state}}</span>
               </li>
               <li class="tags-container">
                  <label translate="TAGGED"></label>
                  <md-chips>
                     <md-chip ng-repeat="tag in plugin.card.tags">{{tag.tag}} [{{tag.lang}}]</md-chip>
                  </md-chips>
               </li>
               <li>
                  <label translate="DOWNLOADED"></label>
                  <span translate="PLUGIN_PANEL_N_TIMES" translate-value-n="94800"></span>
               </li>
               <li>
                  <label translate="PLUGIN_PANEL_CONTRIBUTORS"></label>
                  <span>
                     <ul>
                        <li ng-repeat="author in plugin.card.authors">{{author.name}} {{(author_id == author.id) ? '( You )' : ''}}</li>
                     </ul>
                  </span>
               </li>

               <!--
               <li>
                  <label>{{'DOWNLOADED'|translate}} ({{'THIS_MONTH'|translate}})</label>
                  <span>224 times</span>
               </li>
               <li>
                  <label>{{'DOWNLOADED'|translate}} ({{'THIS_WEEK'|translate}})</label>
                  <span>80 times</span>
               </li>
               -->
            </ul>
         </md-content>
      </div>

      <div class="plugin-settings">
         <h3 translate="PLUGIN_PANEL_SETTINGS"></h3>
         <md-input-container>
            <label translate="PLUGIN_PANEL_XML_URL"></label>
            <input type="text" ng-model="plugin.card.xml_url">
         </md-input-container>
      </div>

      <div class="actions">
         <h3 translate="PLUGIN_PANEL_ACTIONS"></h3>
         <md-list class="actions" layout="row">
            <md-list-item class="refresh_xml-button">
               <i class="spinner fa fa-spinner"></i>
               <md-button class="md-raised md-primary" type="button" ng-click="refreshXMLFile($event)" ng-show="rights.admin || rights.allowed_refresh_xml">
                  <i class="fa fa-refresh"></i>
                  <span translate="PLUGIN_PANEL_REFRESH_XML_FILE"></span>
               </md-button>
            </md-list-item>
            <md-list-item>
               <md-button class="md-raised md-primary" type="button" ng-click="showUserPermissionsDialog($event)" ng-show="rights.admin">
                  <i class="fa fa-user"></i>
                  <span translate="PLUGIN_PANEL_USER_PERMISSIONS"></span>
               </md-button>
            </md-list-item>
         </md-list>
      </div>

      <md-content class="xml-errors">
         <md-list>
            <md-list-item ng-repeat="error in xml_errors" layout="column">
               <div class="reason">
                     <span class="reason" ng-show="error.args.reason == 'url'">{{'XMLFILE_UNREACHABLE_URL'|translate}}</span>
                     <span class="reason" ng-show="error.args.reason == 'parse'">{{'XMLFILE_PARSE_ERROR'|translate}}</span>
                     <span class="reason" ng-show="error.args.reason == 'field'">{{'XMLFILE_SPECIFICATION_ERROR'|translate}}</span>
               </div>

               <div class="separator"></div>

               <div class="details">
                  <ul>
                     <!-- Details for URL errors -->
                     <li ng-show="error.args.reason == 'url'" translate="PLUGIN_PANEL_URLNOTREACHABLE" translate-value-url="{{error.args.url}}"></li>

                     <!-- Details for php/simplexml Parse errors -->
                     <li ng-show="error.args.reason == 'parse'" translate="PLUGIN_PANEL_ERROR_AT_LINE_N" translate-value-n="{{error.args.line}}"></li>
                     <li ng-show="error.args.reason == 'parse'">{{error.args.errstring}}</li>


                     <!-- Details for GLPi XML Plugin Description File Specification Errors -->
                     <li ng-show="error.args.reason == 'field'" translate="PLUGIN_PANEL_FIELD_FAILS_TO_RESPECT_SPEC" translate-value-field="{{error.args.field}}"></li>
                     <li ng-show="error.args.reason == 'field'">{{error.args.errstring}}</li>
                  </ul>
               </div>
            </md-list-item>
         </md-list>
      </md-content>

      <md-button class="the-submit md-raised md-primary" type="submit">
         <i class="fa fa-floppy-o"></i>
         <span translate="PLUGIN_PANEL_SAVE"></span>
      </md-button>
   </form>
</div>