<div layout="column" class="pluginpanel">
   <div class="pluginpanel-header">
      <h2 class="plugin-name">OCS Import</h2>
      <h2 class="panel-title">Author Panel</h2>
   </div>

   <form class="plugin-settings" ng-submit="updateSettings()">
      <div class="summary">
         <h3>Summary</h3>
         <md-content>
            <ul>
               <li class="tags-container">
                  <label>{{'TAGGED'|translate}}</label>
                  <span class="tags">
                     <span ng-repeat="tag in plugin.card.tags">{{tag.tag}} [{{tag.lang}}]</span>
                  </span>
               </li>
               <li>
                  <label>{{'DOWNLOADED'|translate}}</label>
                  <span>94800 times</span>
               </li>
               <li>
                  <label>{{'DOWNLOADED'|translate}} ({{'THIS_MONTH'|translate}})</label>
                  <span>224 times</span>
               </li>
               <li>
                  <label>{{'DOWNLOADED'|translate}} ({{'THIS_WEEK'|translate}})</label>
                  <span>80 times</span>
               </li>
            </ul>
         </md-content>
      </div>

      <div class="plugin-settings">
         <h3>Settings</h3>
            <md-input-container>
               <label>Authoritative Plugin Meta-Description File URL (XML File)</label>
               <input type="text" ng-model="plugin.card.xml_url">
            </md-input-container>
      </div>

      <div class="contributors">
         <h3>Contributors</h3>
         <ul>
            <li ng-repeat="author in plugin.card.authors">{{author.name}} {{(author_id == author.id) ? '( You )' : ''}}</li>
         </ul>
      </div>
      <md-button class="the-submit md-raised md-primary" type="submit">Save</md-button>
   </form>
</div>