<div layout="column" class="plugin">

	<div layout="row">
		<div flex>			
			<h2>{{plugin.name}}</h2>
			<h4 class="author">by {{inlineAuthors(plugin.authors)}}</h4>
		</div>		
		<rate-box flex current-note="note"></rate-box>
		<md-button class="md-fab md-primary md-raised">
         <i class="fa fa-download"></i>
         <md-tooltip>Download</md-tooltip>
      </md-button>
	</div>

	<div layout="row">
		<md-content class='tabs'>
			<md-tabs md-dynamic-height>
				<md-tab ng-repeat="description in plugin.descriptions" label="{{description.lang}}">
					<md-content class="md-padding description">
						<p ng-bind-html="description.description | unsafe"></p>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
	<div layout="row">
		<md-content class="infos" flex="50">
			<ul>
            <li>
					<label>Version</label>
				   <span>0.0</span
				</li>
            <li>
					<label>Homepage</label>
				   <span><a href="{{plugispanomepage_url}}">{{plugin.homepage_url}}</a></td>
				</li>
            <li>
					<label>Issues</label>
				   <span><a href="{{pluspan.issues_url}}">{{plugin.issues_url}}</a></td>
				</li>
            <li>
					<label>Added</label>
				   <span>2 years ago</span
				</li>
            <li>
					<label>Updated</label>
				   <span>5 minutes ago</span
				</li>
			</ul>
		</md-content>
	</div>
</div>
