<div layout="column" class="plugin">

	<div layout="row" layout-align="center end" class="plugin_header">
      <img class="icon" src="{{plugin.logo_url}}">

        <div class='plugin_name'>          
            <h2>{{plugin.name}}</h2>
            <h4 class="author">by {{inlineAuthors(plugin.authors)}}</h4>
        </div>      

      <div class='pills'>
         <span ng-repeat="version in plugin.versions | subpart:3" class="pill bg_lightblue">{{version.compatibility}}</span>
      </div>

      <rate-box flex current-note="plugin.note" already-rated="false" rate-method="ratePlugin"></rate-box>

      <span class='download'>
        <span class="downloads">
            <span class='pill bg_red'>
               37k
               <md-tooltip>downloads</md-tooltip>
            </span>
        </span>
        <md-button class="md-fab md-primary md-raised" ng-click="download()">
            <i class="fa fa-2x fa-download white"></i>
            <md-tooltip>Download</md-tooltip>
         </md-button>
      </span>
    </div>
    <div layout="row" layout-wrap>
        <md-content class='tabs' flex flex-sm="100">
            <md-tabs md-dynamic-height>
                <md-tab ng-repeat="description in plugin.descriptions" label="{{description.lang}}">
                    <md-content class="md-padding description">
                        <p ng-bind-html="description.long_description | unsafe"></p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>

      <div class='screenshots' flex flex-sm="100">
         <!-- we need to implement a lightbox here -->
         <md-card class='screenshot'><img src="http://placehold.it/200x150"></md-card>
         <md-card class='screenshot'><img src="http://placehold.it/200x150"></md-card>
         <md-card class='screenshot'><img src="http://placehold.it/200x150"></md-card>
         <md-card class='screenshot'><img src="http://placehold.it/200x150"></md-card>
      </div>
    </div>
    <div layout="row">
        <md-content class="infos" flex="50">
            <ul>
                <li>
                    <label>Version</label>
                    <span>0.0</span
                </li>
                <li>
                    <label>Compatible With</label>
                    <span>GLPI Version {{plugin.compatible_with}}</span>
                </li>
                <li>
                    <label>Homepage</label>
                    <span><a href="{{plugin.homepage_url}}">{{plugin.homepage_url}}</a></td>
                </li>
                <li>
                    <label>Issues</label>
                    <span><a href="{{plugin.issues_url}}">{{plugin.issues_url}}</a></td>
                </li>
                <li>
                    <label>Added</label>
                    <span>2 years ago</span
                </li>
                <li>
                    <label>Updated</label>
                    <span>5 minutes ago</span
                </li>
            </ul>
        </md-content>
    </div>
</div>
