<div layout="column">
    <p>Thanks, you're close to the goal.</p>
    <p>You now just have to supply the new password.</p>

    <form ng-submit="resetPassword()">
        <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="passwordResetForm.password">
        </md-input-container>

        <md-input-container>
            <label>Password (repeat)</label>
            <input type="password" ng-model="passwordResetForm.passwordRepeat">
        </md-input-container>

        <md-button type="submit" class="md-primary md-raised">Let's go</md-button>
    </form>
</div>