<div layout="column">
	<div class="sort-filters">
		<p>
		<span>Sort by :</span>
		<a href="" ng-click="sortByRelevance()">Relevance</a>
		<a href="" ng-click="sortByPopularity()">Popularity</a>
		</p>
	</div>

	<div class="results">
		<div class="result" ng-repeat="plugin in results track by $index">
			<div layout="row" layout-wrap>
            <img class="icon" src="http://placehold.it/60x60">
				<div flex>
               <h2 class="name">
                  <a ui-sref="plugin({id: plugin.id})">{{plugin.name}}</a>
               </h2>
					<h4 class="author">by Author</h4>
				</div>

            <div class='pills' flex>
               <span class='pill bg_lightblue'>0.90</span>
               <span class='pill bg_lightblue'>0.85</span>
               <span class='pill bg_lightblue'>0.83</span>
               <span class="downloads" flex>
                  <span class='pill bg_red'>
                     37k
                     <md-tooltip>downloads</md-tooltip>
                  </span>
               </span>
            </div>

				<rate-box flex></rate-box>

			</div>
			<div class="description">
				<p ng-bind-html="plugin.description | unsafe"></p>
			</div>
		</div>
	</div>

	<div class="pagination">
		
	</div>
</div>