<div layout="row" class="register">
   <div flex="33">
      <h2>Register Manually</h2>

      <form>
         <md-input-container>
            <label>Real Name</label>
            <input ng-model="scope.user.realname" type="text">
         </md-input-container>
         <md-input-container>
            <label>Email</label>
            <input ng-model="scope.user.email" type="text">
         </md-input-container>
         <md-input-container>
            <label>Website</label>
            <input ng-model="scope.user.website" type="text">
         </md-input-container>
         <md-input-container>
            <label>Password</label>
            <input ng-model="scope.user.password" type="password">
         </md-input-container>
         <md-input-container>
            <label>Confirm password</label>
            <input ng-model="scope.user.password_repeat" type="password">
         </md-input-container>
         <md-button class="md-raised md-primary" ng-click="signUp()">Sign-Up !</md-button>
      </form>
   </div>
   <div flex="66" class="link-your-account">
      <h2>Or link your account</h2>

      <md-button ng-click="authenticate('github')"><i class="fa fa-github"></i></md-button>
      <md-button><i class="fa fa-google"></i></md-button>
      <md-button><i class="fa fa-facebook"></i></md-button>
      <md-button><i class="fa fa-twitter"></i></md-button>
   </div>
</div>