<div layout="row" id="signin">
   <div flex="33" offset="33">
      <h2>Connecting with GLPI Plugins Account</h2>

      <form ng-submit="ctrl.loginAttempt()">
         <md-input-container>
            <label>Username or Email</label>
            <input type="text" ng-model="login">
         </md-input-container>
         <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="password">
         </md-input-container>
         <md-button class="md-raised md-primary" type="submit">Login</md-button>
      </form>



      <div ng-show="notie">
         <h2>Or connect with an external account</h2>
         <md-button ng-click="ctrl.linkAccount('github')"><i class="fa fa-github social-icon"></i></md-button>
<!--          <md-button><i class="fa fa-google social-icon"></i></md-button>
         <md-button><i class="fa fa-facebook social-icon"></i></md-button>
         <md-button><i class="fa fa-twitter social-icon"></i></md-button> -->
      </div>
   </div>
</div>