<div layout="column" class="tags-list">

   <md-list class="compact-list results">
      <md-subheader class='topic margin'>{{'TAGS'|translate}}</md-subheader>
      <div ng-show="loading" class="loading">
         <p><i class="fa fa-refresh"></i><span>{{'LOADING'|translate}}...</span></p>
      </div>
      <md-list-item ng-hide="loading" ng-repeat="tag in tags.currentPage" class="result">
         <md-button ui-sref="tag({key: tag.key})">
            <h4>{{tag.tag}}</h4>
         </md-button>
         <span class="info" translate="TAGGED_ON_N_PLUGINS" translate-value-plugincount="{{tag.plugin_count}}"></span class="info">
      </md-list-item>
   </md-list>

   <pagination ng-hide="loading" collection="tags"></pagination>
</div>