.doc-page
   padding-left: 20px

   h1, h2, h3, h4, h5, h6
      color: rgba(0,0,0,0.54)
      font-weight: normal
      margin: 0

   h1
      font-size: 1.8em
      margin-bottom: 20px

   h2
      font-size: 1.6em

   h3
      font-size: 1.4em
      margin-top: 10px
      padding-left: 20px

   h4
      font-size: 1.2em
      margin-top: 10px
      padding-left: 40px

   h5
      padding-left: 40px

   ul
      margin: 0 0 15px 0
      li
         list-style-type: circle

   p
      margin: 10px 0 10px 0
      padding-left: 40px

   ul, ol
      padding-left: 60px

   table
      margin-left: 40px

   table thead
      display: none

   pre
      margin: 0
      padding-left: 40px