pagination
   .md-button
      &.active
         background-color: #6F92BA
         color: #fff
      display: inline-block
      width: 20px
      min-width: 30px
      min-height: 10px
      line-height: 10px