pagination
   margin: 10px 0
   .buttons
      display: inline-block
   .md-button
      background-color: lighten(#6F92BA, 16%)
      color: #fff
      margin: 0 4px 0 0
      &:last-child
         margin: 0
      padding: 0
      &.active
         background-color: #6F92BA
      &:not([disabled]):hover
         background-color: lighten(#6F92BA, 6%)
      display: inline-block
      width: 20px
      min-width: 30px
      min-height: 10px
      line-height: 10px
   .count
      display: inline-block
      margin-left: 20px
      span
         font-weight: bold
         font-size: 1.1em
         color: $blue