.dialog
   md-toolbar
      background-color: $darkblue
      h2
         color: #fff
   .link-new-account, .current-accounts
      h2
         padding: 10px 20px
   .current-accounts
      .list-header
         p
            text-align: center
            font-weight: 700
      md-list-item
         padding: 10px 20px