.pluginpanel
   padding: 0 15px
   .pluginpanel-header
      @include clearfix
      width: 100%
      .plugin-name
         float: left
      .panel-title
         float: right
   .summary
      .xml_state
         span
            color: $green
         span.error
            color: $red
      label
         font-weight: 700
         display: inline-block
         min-width: 200px
      .tags-container
         label, .tags
            display: block
         margin-bottom: 4px
      .tags
         @include clearfix
         span
            margin-left: 8px
            &:after
               display: inline-block
               content: ','
               margin-left: 4px
            &:first-child
               margin-left: 0
            &:last-child
               &:after
                  display: none
   .plugin-settings
      @include clearfix
      .the-submit
         float: right
   .actions
      .refresh_xml-button
         .spinner
            display: none
   .xml-errors
      md-list-item
         background-color: $red
         border-radius: 4px
         min-height: 38px
         margin-bottom: 10px
         .reason
            color: #fff
            width: 100%
         .separator
            width: 100%
            height: 2px
            background-color: #fff
         .details
            width: 100%
            ul
               padding-left: 20px
               margin: 0
            li
               list-style-type: disc
               color: #fff
      p
         margin: 4px 0 4px 0