$gp_white:         #FFF
$gp_black:         #000
$gp_red:           #ff8a80
$gp_green:         #b9f6ca
$gp_verylightgrey: #F4F4F4
$gp_lightgrey:     #DADADA
$gp_grey:          #949494
$gp_darkgrey:      #555
$gp_dark:          #2C2C2C
$gp_blue:          #3f51b5
$gp_lightblue:     #80d8ff
$gp_darkblue:      #6F92BA
$gp_yellow:        #ffff8d


.bg_white         
    background-color: $gp_white
.bg_black         
    background-color: $gp_black
.bg_red           
    background-color: $gp_red
.bg_green         
    background-color: $gp_green
.bg_verylightgrey 
    background-color: $gp_verylightgrey
.bg_lightgrey     
    background-color: $gp_lightgrey
.bg_grey          
    background-color: $gp_grey
.bg_darkgrey      
    background-color: $gp_darkgrey
.bg_dark          
    background-color: $gp_dark
.bg_blue          
    background-color: $gp_blue
.bg_lightblue     
    background-color: $gp_lightblue
.bg_darkblue      
    background-color: $gp_darkblue
.bg_yellow        
    background-color: $gp_yellow

body
    font-family: 'Roboto'
    font-size: 15px
    line-height: 1.5

.main
    padding: 0 0 50px 15px
    background-color: $gp_white
    min-height: 250px

a
    color: $gp_blue 
    text-decoration: none

h2, h4
    margin: 0
h4
    color: $gp_grey 

ul li
    list-style-type: none

.header
    .logo
        .sitename
            display: inline-block
            width: 100px
            height: 50px
            text-indent: -9999px
            background-image: url(../images/logo-small.png)
        h2
            margin: 0
            display: inline-block
            vertical-align: bottom
            color: $gp_red

nav
    padding-top: 50px
    border-left: 1px solid $gp_verylightgrey
    font-size: 16px
    a
        color: $gp_darkgrey
        display: block
        line-height: 1.6
        padding: 5px 15px
        margin: 0
        border-left: 2px solid transparent
    a.active
        background-color: $gp_verylightgrey
        border-left-color: $gp_darkblue
        color: $gp_black

.pill 
    border-radius: 5px
    padding: 2px 4px
    cursor: pointer

.icon 
    background-color: $gp_verylightgrey
    margin-right: 10px
    padding: 18px // remove this


.plugin
    margin-top: 35px
    min-height: 500px


    h2 
        text-transform: capitalize
    .author, .download
        height: 0
    .tabs
        background-color: inherit
        .description
            background-color: $gp-verylightgrey
    .screenshots
        margin: 40px 0 0 10px
        .screenshot
            width: 200px
            height: 150px
            margin: 10px
            display: inline-block
            text-align: center
            cursor: pointer

    .infos
        font-size: 0.8em
        overflow: visible
        ul 
            padding: 0
            display: table
            li 
                margin-top: 8px
                display: table-row     
                label
                    display: table-cell
                    padding: 10px 10px 0 0
                    color: $gp_grey
                    text-transform: uppercase
                label + span 
                    display: table-cell
rate-box
    i.fa
        color: $gp_green
        font-size: 25px

.container 
    div[layout=row]
        md-content:nth-child(2)
            background-color: $gp_verylightgrey

.legend, .author
    font-size: 0.8em
    font-style: italic
    color: $gp_grey
    margin: 0

.plugin-list
    margin-bottom: 20px
    .topic
        font-size: 2em
        .md-subheader-inner 
            padding: 0
        i 
            font-size: 0.7em
    md-list-item 
        margin-top: 5px
        min-height: inherit
        .md-button
            display: block
            margin: 0 auto
            line-height: 25px
            min-height: inherit
            text-transform: capitalize
            margin: inherit
        h3, h4
            margin: 0
            text-align: left
        h4
            font-weight: normal
            color: $gp_darkblue



.footer
    position: fixed
    bottom: 0
    width: 100%
    height: 50px
    background-color: $gp_grey
    color: $gp_white
    line-height: 50px
    box-shadow: inset 0 6px 12px -8px $gp_dark
