.header {
   background-color: #6F92BA;
   border-radius: 4px;
   height: 80px;
   width: 100%;
   color: #fff;
   padding: 10px 40px 0 40px;
   box-sizing: border-box;
}

.logo {
   width: 200px;
   float: left;
}
.logo img, .logo h1 {
   float: left;
}
.logo h1 {
   font-size: 26px;
   padding-top: 2px;
}

.header h2 {
    float: left;
    line-height: 45px;
    margin-left: 40px;
    font-size: 24px;
}